<!DOCTYPE html>
<html lang="en">
<!-- contact about sevices -->
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>REGISTRATION</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- style css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- fevicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
</head>
<!-- body -->
<body>
    <div class="header_main">
		<div class="container">
			<div class="logo"><img src="{{ url_for('static', filename='images/logo3.png') }}"></div>
		</div>
	</div>
    <div class="header">
        <div class="container">
            <!--  header inner -->
            <div class="col-sm-12">
                <div class="menu-area">
                    <nav class="navbar navbar-expand-lg ">
                        <!-- <a class="navbar-brand" href="#">Menu</a> -->
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">LOGIN</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/register">REGISTRATION</a>
                                </li>
                                <li class="#" href="#">
                                    <a class="nav-link" href="#blog">BLOG</a>
                                </li>
                                <li class="" href="#">
                                    <a class="nav-link" href="#contact">CONTACT</a>
                                </li>
                                {% if user != '' %}
                                <li class="nav-item" style='color:red'>
                                    <a class="nav-link" href="/dash">{{ user }}<span class="sr-only">(current)</span></a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end header end -->
    <!--touch_section start -->

    <div class="touch_section">
        <div class="container">
            <h1 class="touch_text">REGISTRATION</h1>
        </div>
    </div>

    <div class="lets_touch_main">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="input_main">
                        <div class="container">
                            <div class="form-group">
                                <form action="/register" , method='POST'>
                                    {{ form.csrf_token }}
                                
                                    {{ form.name.label }}
                                    <div class="input-s">{{ form.name }}</div>
                                    {% for error in form.name.errors %}
                                    <p id='error-bar'>{{ error }}</p>
                                    {% endfor %}
                                    <br>
                                    {{ form.email.label }}
                                    <div class="input-s">{{ form.email }}</div>
                                    {% for error in form.email.errors %}
                                    <p id='error-bar'>{{ error }}</p>
                                    {% endfor %}
                                    <br>
                                    {{ form.password.label }}
                                    <div class="input-s">{{ form.password }}</div>
                                    {% for error in form.email.errors %}
                                    <p id='error-bar'>{{ error }}</p>
                                    {% endfor %}
                                    <br>
                                    {{ form.my_recapcha }}
                                    {% for error in form.my_recapcha.errors %}
                                    <p id='error-bar'>{{ error }}</p>
                                    {% endfor %}
                                    <div class="send_btn">
                                        <div class="main_bt">{{ form.submit }}</div>
                                    </div>
                                </form>
                                <p id='error-bar'>{{ message }}</p>
                                {% if status == true %}
                                <p><a href="/login" id='login-btn'>Login</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <p class="lorem_text"><span class="lorem_text" style="font-size:200%; margin: 10px;">Register now!</span><br>
                            Join us in the programming blog for all those
                            interested in programming and its languages.
                            You can share what you want and think about with
                            others and enjoy and benefit from the information
                            published by the people in this interesting blog
                            about programming and its languages</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact_section start -->
    <div class="contact_main" id='contact'>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="touch_text">Contact Us</h1>
                </div>
            </div>
        </div>
        <div class="contact_section_2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="map_icon">
                            <img src="{{ url_for('static', filename='images/map-icon.png') }}" style="max-width: 100%;padding-left: 30px; ">
                            <p class="email-text"><a href="#">KSA</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="map_icon">
                            <img src="{{ url_for('static', filename='images/email-icon.png') }}" style="max-width: 100%; padding-left: 30px;">
                            <p class="email-text"><a href="#">Blog@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="map_icon">
                            <img src="{{ url_for('static', filename='images/call-icon.png') }}" style="max-width: 100%;padding-left: 30px;">
                            <p class="email-text"><a href="#">+9999999</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--Contact_section end -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="copyright_text">© 2021 All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Javascript files-->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>